
body {
    background-color:#FAEBD7;
}
.menu>a{
    background-color: gold;
}

h1 {
    color: darkred;
    text-align: center;
    text-decoration: underline;
}

.card > img {
    width: 100%;
}

.card {
    border: solid 1px black;
    border-radius: 12px;
    width: 400px;
    display: inline-block;
    margin: 10px;
    overflow: hidden;
    text-align: center;
    background-color: white;
    font-style: italic;
}
